.region-header-1,
.region-header-2,
.region-header-3{
    background-color: orangered;
    color: ghostwhite;
}

.region-header-4,
.region-header-5,
.region-header-6{
    background-color: #ffffbe;
}

.region-header-7,
.region-header-8,
.region-header-9{
    background-color: #93e667;
}

.region-header-1,
.region-header-2,
.region-header-3,
.region-header-4,
.region-header-5,
.region-header-6,
.region-header-7,
.region-header-8,
.region-header-9{
    padding: 6px;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}

.liveability-region .region-content {
    display: none;
}