.liveability-region-1,
.liveability-region-2,
.liveability-region-3{
    background-color: orangered;
    color: ghostwhite;
}

.liveability-region-4,
.liveability-region-5,
.liveability-region-6{
    background-color: #ffffbe;
}

.liveability-region-7,
.liveability-region-8,
.liveability-region-9{
    background-color: #93e667;
}

.liveability-region-1,
.liveability-region-2,
.liveability-region-3,
.liveability-region-4,
.liveability-region-5,
.liveability-region-6,
.liveability-region-7,
.liveability-region-8,
.liveability-region-9{
    padding: 6px;
    margin-top: 6px;
}