 /* The switch - the box around the slider */

 .switch {
     position: relative;
     display: inline-block;
     width: 32px;
     height: 20px;
 }

 /* Hide default HTML checkbox */

 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 /* The slider */

 .slider {
     position: absolute;
     border-radius: 34px;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
     border: 1px solid darkgray;
 }

 .slider:before {
     position: absolute;
     border-radius: 50%;
     content: "";
     height: 14px;
     width: 14px;
     left: 3px;
     bottom: 2px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
 }

 input:checked+.slider {
     background-color: #ace6d4;
 }

 input:focus+.slider {
     box-shadow: 0 0 1px #ace6d4;
 }

 input:checked+.slider:before {
     -webkit-transform: translateX(10px);
     -ms-transform: translateX(10px);
     transform: translateX(10px);
 }